<ul class="list-group">
  {{#each records}}
  <li class="list-group-item">
    <i class="{{this.icon}}"></i>
    {{this.name}}
    {{this.date}}
    {{this.amount}}
  </li>
  {{/each}}
</ul>

<a class="btn btn-primary" href="/records/new" role="button">新增支出</a>